.tooltip {
  display: block !important;
  z-index: 10000;
  max-width: 250px;

  .tooltip-inner {
    @apply px-4 py-1 bg-black text-white rounded-md opacity-75 text-sm;

    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.08);
  }

  &[aria-hidden="true"] {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.15s, visibility 0.15s;
  }

  &[aria-hidden="false"] {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.15s;
  }
}
